<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
</head>
<body>
    <div class="uploadYouWallPaper"><img src="{{ url_for('static', filename='add-photo.png') }}" alt="" class="add-photo" width="100px"></div>
    <div class="name">
        <p>your Wall Paper Name:</p>
        <input type="text" class="nameOfPaper" maxlength="18">
    </div>
    <div class="discription">
        <p>your wall paper description:</p>
        <textarea class="descriptionOfp" name="story" rows="5" cols="33"></textarea>
    </div>
    <button class="upload">upload</button>
</body>
</html>